:root {
  --color-primary: rgb(249, 45, 45);
  --color-black: #121212;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--color-white);
  font-family: "Poppins", sans-serif;
  color: var(--color-black);
  overflow-x: hidden;
}
